body {
    background-color: rgb(29,129,91);
    color: white;
    width: 100%;
    height: 100%;
    user-select: none;
}

.app {
    border: rgb(13,17,23) 5px solid;
    height: calc(100vh - 60px);
    width: calc(100vw - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.app-content {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

.password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 4px solid white;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    transition: border-bottom-color 200ms ease-in-out;
}

.password:hover {
    border-bottom: 4px solid rgb(13,17,23);
}

.password > * {
    margin: 0 10px;
    user-select: all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.password > a {
    user-select: none;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.password > *:hover {
    transform: scale(1.04);
}

.copy-password {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copy-password > a {
    color: rgb(13,17,23);
    cursor: pointer;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    background-color: white;
    border: 4px solid white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.copy-password > a:hover {
    background-color: rgb(13,17,23);
    color: white;
}

.select-range > input[type='range'] {
    -webkit-appearance: none !important;
    background: white;
    width: 100%;
    height:7px;
    cursor: pointer;
}
.select-range > input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: rgb(13,17,23);
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

.select-char {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}