header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: rgb(13,17,23);
    height: 50px;
    line-height: 50px;
}
header > * {
    -webkit-app-region: no-drag;
    margin: 0 40px;
}

header > .action-button > * {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    color: #d1d1d1;
    transition: color 200ms ease-in-out;
}

header > .action-button > *:hover {
    color: #fff;
}